ul.dropdown {
    position: relative;
	list-style: none;
}

ul.dropdown li:last-child {
	padding-right:0!important;
	background-image:none;

}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #ffa500;
}

ul.dropdown li a {
    display: block;

}


 /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    position: relative;
	color: #7A144F!important;
}

ul.dropdown li.hover a {
    color: #6A5F59;
    font-weight:bold;
}
ul.dropdown li.hover a:hover {
    color: #7A144F;
    font-weight:bold;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.dropdown ul li {
    float: none;
	clear:both;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}

ul.dropdown ul ul {
	list-style: none;
    left: 100%;
    top: 0;
	margin: 0;
	padding: 0;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}

ul.dropdown a {
	text-decoration: none;
}

ul.dropdown li {
	display:block;
}

.sub_menu {
  margin:0 !important;
  width:84px;
  z-index: 1000 !important;
  position:absolute;
  left:-14px!important;
  padding-right:2px;
  padding-left:2px;  
  padding-top:5px;  
  padding-bottom:5px;  
  background-color:none;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  background-image:url(../../../../../../templates/sister/images/bg_submenu.png);
  background-repeat:repeat-x;
  background-position:bottom;
  border-bottom:1px solid #7A0A4D;
  border-left:1px solid #7A0A4D;
  border-right:1px solid #7A0A4D;
  text-align:center;
}

.sub_menu  li{
  margin:0 !important;
  z-index: 1000 !important;
  background:none!important;
  float:none!important;
  padding:0!important;
}

.sub_menu  li a {
  margin:0 !important;
  z-index: 1000 !important;
  color:#6A5F59;
  font-size:12px!important;
  float:none!important;
  font-weight:normal!important;
}



.dropdown {
  z-index: 1000 !important;
}

.menuactive a {
  color: #7A144F !important;
}

.separator {
  height: 3px;
  background: url("../images/overlay2.png") repeat-x scroll left top #909090;
}

.separator:hover {
  height: 3px;
  background: url("../images/overlay2.png") repeat-x scroll left top #909090 !important;
}
